@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!</h1>
    <h3><p>Olá! Deixe eu me apresentar, me chamo Márcio e quero, apresenta meu primeiro crud. 
        Que é baseado em registrar cursos! E claro ele é crud básico que pode receber melhorias,
        mas para um começo e intender a arquitetura e o mecanismo do MVC e ASP.NET.
    </p></h3>
</div>
